@mixin absolute {
  position: absolute;
}

@mixin block {
  display: block;
}

@mixin hidden {
  display: none;
}

@mixin flex {
  display: flex;
}

@mixin inline {
  display: inline;
}

@mixin inline-flex {
  display: inline-flex;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}